body {
     

  font-family: Calibri, Helvetica, sans-serif;  
  
  background-image:url("file:///C:/xampp/htdocs/andro/images/2food.jpg");
  background-repeat: no-repeat;
  background-size:2000px 2000px;
 
}  
button {      
       width: 10%;  
       height:5%;
        color: orange;   
        padding: 10px;  
        margin:  10px;   
        border: none; 
        border-radius: 3px;
        cursor: pointer;   
         }    
 input[type=text], input[type=password] {   
        width: 20%; 
        height:15%;  
        margin: 5px ;  
        padding: 10px 15px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
        radius:15px;
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 15px;  
        margin: 5px 0px;  
    }    
 .container {   
        padding: 20px;   
        border-radius:10px;
    }   